*
{
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
}

header nav a
{
    color: rgba(0,0,0,0.87);
}

a
{
    color: #5f6368;
    font-size: 13px;
    text-decoration: none;
}

input
{
    color: #222;
}

p
{
    font-size: 0.9375rem;
    color: rgba(0,0,0,.54);
}