*
{
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
}

nav 
{
    justify-content: flex-end;
}

a
{
    color: #5f6368;
    font-size: 13px;
    text-decoration: none;
}

nav a
{
    padding-left: 0.9375rem;
}

header nav a
{
    color: rgba(0,0,0,0.87);
}

p
{
    font-size: 0.9375rem;
    color: rgba(0,0,0,.54);
}

input
{
    color: #222;
}

.flex_container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid red;
    width: 100%;
}

.center
{
    justify-content: center;
}

.space_between
{
    justify-content: space-between;
}

.width_100
{
    width: 100%;
}

.width_50
{
    width: 50%;
    display: inline-block;
}